/****************************** Larger than Desktop HD *******************************/
@media only screen and (max-width: 1370px){

}
@media only screen and (max-width: 1200px){

}
@media only screen and (max-width: 1023px) {

}
/****************************** Tablet version *******************************/
@media only screen and (max-width: 1024px){
    /* iLixi */
    /*arrow*/
    .ilixi-slider .slick-arrow {
        width:200px; height:100%; /*cursor:none;*/
    }
    .ilixi-slider .slick-prev {left: -200px;}
    .ilixi-slider .slick-next {right: -200px;}

}
@media only screen and (max-width: 980px){

}
@media only screen and (max-width: 960px) {

}
@media only screen and (max-width: 940px) {

}
@media only screen and (max-width: 840px) {

}
@media only screen and (max-width: 794px) {

}

/****************************** Mobile version *******************************/
@media only screen and (max-width: 768px) {
    /* editor */
    .mceContentBody h1, .main_content h1 {font-size: 45px;}
    .mceContentBody h2, .main_content h2 {font-size: 40px;}
    .mceContentBody h3, .main_content h3 {font-size: 35px;}
    .mceContentBody h4, .main_content h4 {font-size: 30px;}
    .mceContentBody h5, .main_content h5 {font-size: 25px;}
    .mceContentBody h6, .main_content h6 {font-size: 20px;}

    /* general */
    .header-inner, .content-padding, .footer-inner {padding: 15px 0;}
    .header-title {font-size:32px}
    .header-logo {padding:0}
    .home .header-logo, .tag .header-logo {padding:10px 0}
    .header-logo a {max-width:100px}
    .container {padding:0 15px}
    .copyright {padding:10px 0}
    .hide-on-mobile {display:none}

    .webpage-overview {margin:15px 0}
    .webpage-caption h3 {font-size:15px}
    .webpage-img {max-height:450px}

    .main_content .wpb_content_element.vc_separator {margin:15px 0!important}

    .wpb_content_element {margin-bottom:15px!important}

    /* list post */
    li.year-item {font-size:26px}

    /* post details */
    .post-title h2 {font-size:30px}
    .post-info {padding:10px 0}
    .post-tags {margin:15px 0}
    .interaction-section {margin:15px 0 0;padding:15px 0 0;}

    /* iLixi */
    /* slider */
    .ilixi-slider {
        max-width:400px; width:100%; margin:auto;
        position:relative; top:unset; left:unset;
        transform:unset;
    }
    .ilixi-slider .slide-item {padding: 20px 0;}

    /*arrow*/
    .ilixi-slider .slick-arrow,
    #cursor, .pointer {display:none!important}

    /*info link*/
    #info-link {
        position:relative; top:unset; left:unset; opacity:.7;
        -webkit-transition:all .2s ease;-o-transition:all .2s ease;transition:all .2s ease;
    }
    #info-link a {display:inline-block}
    /*fb like share*/
    .ilixi .interaction-section {
        position:relative; top:unset; left:unset;
        border:none; margin:0; padding:0;
    }

}
@media only screen and (max-width: 640px){

}
@media only screen and (max-width: 570px){

}
@media only screen and (max-width: 480px) {
    /* editor */
    .mceContentBody h1, .main_content h1 {font-size: 40px;}
    .mceContentBody h2, .main_content h2 {font-size: 36px;}
    .mceContentBody h3, .main_content h3 {font-size: 30px;}
    .mceContentBody h4, .main_content h4 {font-size: 28px;}
    .mceContentBody h5, .main_content h5 {font-size: 22px;}
    .mceContentBody h6, .main_content h6 {font-size: 18px;}
    body {font-size:14px; line-height:1.6}
    .mceContentBody p, .main_content p {margin-bottom:15px}

    a.btn_blue_fullw, a.btn_green_fullw {padding:6px 10px}
    a.btn_github {padding:8px 15px; display:block; text-align:center}
    a.btn_github:before {font-size:23px; right:15px}
    .title_sharp {font-size:20px; line-height:1.5}
    table.tbl_standard td, table.tbl_no_heading td {padding:2px 7px;}

    .table-wrapper {cursor:e-resize}
    .table-wrapper table {min-width:480px}

    ol.my_ordered_list li {padding-left:25px}

    .webpage-caption h3 {font-size:15px}
    .webpage-img {max-height:350px}

    /* general */
    .header-title {font-size:26px}
    .header-logo a {max-width:90px}

    /* list post */
    li.year-item {font-size:22px}

    /* post details */
    .post-title h2 {font-size:23px}

}
@media only screen and (max-width: 460px) {

}
@media only screen and (max-width: 360px){

}
@media only screen and (max-width: 340px){

}